body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}
nav {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
	align-items: center;
}
nav .nav-item {
	margin-right: 18px;
}
nav .nav-item a {
	text-decoration: none;
	color: #282828;
	font-size: 13px;
	font-family: Arial, sans-serif;
}
nav .nav-item img {
	border-radius: 50%;
}
nav .nav-item img:hover {
	cursor: pointer;
}
main .container {
	margin: auto;
	text-align: center;
	margin-top: 100px;
}
main .searchbar {
	border: 1px solid #dfe1e5;
	width: 600px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 40px;
	height: 40px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}
main .searchbar img {
	width: 20px;	
}
main .searchbar input {
	width: 90%;
	border: none;
}
main .searchbar input:focus {
	outline: none;
}
main form button {
	border: none;
	color: #65696e;
	background-color: #f3f3f3;
	height: 40px;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 15px;
}
main form button:hover {
	cursor: pointer;
}
footer {
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0;
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #e4e4e4;
}
footer .footer-boxes {
	display: flex;
	align-items: center;
}
footer a {
	color: #65696e;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 13px;
}
